html
{
	margin: auto;
	padding: auto;
}

body
{
	margin: auto;
	padding: auto;
	width: 100%;
	text-align: center;
	/*background-color: #DFE0DC;*/
	background-image: url("../img/page.jpeg");
	background-size: cover;
}

#home
{
	text-decoration: none;
}


body h1
{
	margin: auto;
	color: white;
	position: relative;
	top:10px;
}


header
{
	background-color: #17B890;
	margin: auto;
	height: 7%;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	border-bottom: 2px #00e2aa solid;
}

header #connect
{
	position: absolute;
	top: 15;
	right: 0;
	width: 40%;
	text-align:center;
}

header #connect a
{
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	margin: 10px;
	background-color: #17b890;
	border:2px solid #17b890;
	padding: 4px;
	padding-right: 6px;
	padding-left:6px;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 15px;
	transition: all ease 1s;
}

header #connect a:hover
{
	background-color: #30826d;
	border-color: #30826d;
}

header img
{
	width: 2%;
	margin-right: 10px;
}



#presentation #equipe
{
	width: 30%;
	min-height: 40%;
	max-height: 50%;
	position: absolute;
	top: 20%;
	left: 10%;
	display: inline-block;
	border:solid 2px #30826d;
	padding: 40px;
	text-align: justify;
	background-color: #30826d;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	font-size: 1.1em;
}

#presentation #equipe h1
{
	text-align: center;
}

#presentation #fonctionnement,#droit	
{
	width: 30%;
	min-height: 40%;
	position: absolute;
	max-height: 50%;
	top: 20%;
	right: 10%;
	font-size: 120%;
	text-align: justify;
	display: inline-block;
	border:solid 2px #30826d;
	background-color: #30826d;
	padding: 40px;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	overflow: hidden;
}

#presentation #fonctionnement h1,#droit h1
{
	text-align: center;
}

#droit nav
{
	text-align: center;
	background-color: white;
	border:2px solid white;
	border-radius: 15px;
}

#droit nav a
{
	text-decoration: none;
	color: #30826d;
	margin-left: 4%;
	margin-right: 4%;
	transition: all ease 0.5s;
	padding: 4px;
	border:solid 2px transparent;
	border-radius: 15px;
}

#droit nav a:hover
{
	background-color: #00e2aa;
	color: white;
}

#droit_articles
{
	overflow-y: hidden;
	overflow-x: hidden;
	height: 400px;
}

#Article-3
{
	margin: auto;
	margin-top: 70%;	
}

#Article-4
{
	margin: auto;
	margin-top: 20%;
}

#Article-5
{
	margin: auto;
	margin-top: 23%;
}
footer
{
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 1rem;
  background-color: #17B890;
  text-align: center;
  -webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
  border-top: 2px #00e2aa solid;
}

footer a
{
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	margin-left: 20px;
	margin-right: 20px;
}
#form-con{
	position: absolute;
	top:20%;
	margin: auto;
	right: 35%;
	width: 30%;
	padding-bottom: 30px;
	background-color: #30826d;	
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
}

strong
{
	color: #09e5ae;
}

#form-insc{
	margin: auto;
	margin-top:3%;
	margin-bottom: 8%;
	width: 30%;
	background-color: #30826d;	
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
}

#compte_cree{
	margin: auto;
	margin-top: 2%;
	width: 30%;
	margin-top:10%;
	color: white;
	font-size: 1.3em;
	background-color: #30826d;	
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
}

#activity #demande_trad::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #30826d;
}

#activity #demande_trad::-webkit-scrollbar
{
	width: 12px;
	background-color: #30826d;
}

#activity #demande_trad::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00e2aa;
}



#activity #demande_trad::-moz-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #30826d;
}

#activity #demande_trad::-moz-scrollbar
{
	width: 12px;
	background-color: #30826d;
}

#activity #demande_trad::-moz-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00e2aa;
}



#activity #demande_trad::scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #30826d;
}

#activity #demande_trad::scrollbar
{
	width: 12px;
	background-color: #30826d;
}

#activity #demande_trad::scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00e2aa;
}






#activity-2 #demande_trad::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #30826d;
}

#activity-2 #demande_trad::-webkit-scrollbar
{
	width: 12px;
	background-color: #30826d;
}

#activity-2 #demande_trad::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00e2aa;
}



#activity-2 #demande_trad::-moz-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #30826d;
}

#activity-2 #demande_trad::-moz-scrollbar
{
	width: 12px;
	background-color: #30826d;
}

#activity-2 #demande_trad::-moz-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00e2aa;
}



#activity-2 #demande_trad::scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #30826d;
}

#activity-2 #demande_trad::scrollbar
{
	width: 12px;
	background-color: #30826d;
}

#activity-2 #demande_trad::scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00e2aa;
}



#compte_cree h1
{
	background-color: #17B890;
	position: relative;
	top: 0;
	font-size: 1.5em;
}

form{
	margin: 0 auto;
	width: auto;
	text-align: center;
}

#form-con input:not(#submit){
	width:300px;
	margin: auto;
	height: 25px;
	text-align: center;
	font-size: 1.1em;
	padding: 2px;
	color: #17B890;
	background-color: transparent;
	border-bottom:solid 2px white;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-top: 10px;
	margin-bottom: 20px;
	transition: all ease 1s;
}

#radio
{
	width: 20px;
}

#form-insc #info{
	width:300px;
	margin: auto;
	height: 15px;
	text-align: center;
	font-size: 1.1em;
	padding: 2px;
	color: #17B890;
	background-color: transparent;
	border-bottom:solid 2px white;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-bottom: 30px;
	transition: all ease 1s;
}

#form-con h1
{
	background-color: #17B890;
	position: relative;
	top: 0;
}

#form-insc h1
{
	background-color: #17B890;
	position: relative;
	top: 0;
}

#envoyer
{
	background-color: white;
	width: 200px;
	border:solid 2px white;
	border-radius: 15px;
	margin-bottom: 30px;
}

#submit
{
	background-color: white;
	margin: 20px;
	border: 2px solid white;
	padding: 2px;
	width: 200px;
	border-radius: 15px;
	color: #30826d;
}


#form-con label{
	margin: auto;
	font-size: 1.5em;
	color: white;
}


#form-con a
{
	text-decoration: none;
	color: white;
	padding: 5px;
	border:2px solid transparent;
	border-radius: 15px;
	transition: all ease 1s;
}

#form-con a:hover
{
	background-color: #17B890;
	color: white;
	border:2px solid #17B890;
}



#form-insc input:focus
{
	outline: none;
}


#form-insc input[type="radio" i]
{
	margin: 20px;
}


#form-insc label p
{
	background-color: white;
	border:2px solid white;
	width: 200px;
	font-size: 1.2em;
	border-radius: 15px;
	color: #30826d;
	margin: auto;
}

#form-con label p
{
	background-color: white;
	border:2px solid white;
	width: 200px;
	font-size: 0.8em;
	border-radius: 15px;
	color: #30826d;
	margin: auto;
}


#form-insc a
{
	text-decoration: none;
	color: white;
	padding: 5px;
	border:2px solid transparent;
	border-radius: 15px;
	transition: all ease 1s;
}

#form-insc a:hover
{
	background-color: #17B890;
	color: white;
	border:2px solid #17B890;
}

#menu-lang
{
	position: absolute;
	left: 1%;
	top: 40%;
	width: 3%;
	background-color: transparent;
}

#menu-lang img
{
	width: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all ease 0.5s;
}

#menu-lang img:hover
{
	width: 80%;
}


#option{
	margin: 10px;
	padding: 3px;
}

header #trad
{
	position: absolute;
	top: 15;
	left: 50px;
	width: 200px;
}

header #trad a
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin: 10px;
	background-color: #17b890;
	border:2px solid #17b890;
	padding: 4px;
	padding-right: 6px;
	padding-left:6px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 15px;
	transition: all ease 1s;
	width: 15%;
}

header #trad a:hover
{
	background-color: #30826d;
	border-color: #30826d;
}

header #trad form
{
	position: relative;
	left: 120;
	top:-25;
	width: 100%;
}

header #trad form select
{
	width:45%;
	height: 2em;
	margin-right: 6%;
	background-color: #30826d;
}

textarea{
	margin-top: 10px;
	width:75%;
	height: 80px;
	resize: none;
	margin-bottom: 20px;
}
#traduction #traducteur textarea{

	height: 60%;
	font-family: Verdana;
	font-size: 1.1em;
}
#contact{
	background-color: #30826d;
	width: 45%;
	position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
}


#contact  h2
{
	background-color: #17b890;
	color: white;
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

#contact form
{
	margin-top:8%;
}

#contact a
{
	background-color: white;
	color: #30826d;
	border:2px solid white;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 10px;
}

#contact label{
	margin: 3px;
	font-family: Verdana;
	color: #17b890;
	background-color: white;
	padding: 2px;
	padding-left: 50px;
	padding-right: 50px;
	border:2px solid white;
	border-radius: 15px;
	font-size: 1.1em;
}

textarea
{
	margin-top: 30px;
	background-color: transparent;
	border:none;
	border-bottom: 2px solid white;
	color: white;
	font-size: 1.2em;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: white;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: white;
}

textarea:focus
{
	outline: none;
}

#contact input:not([type="submit" i])
{
	background-color: transparent;
	border:none;
	border-bottom: 2px solid white;
	text-align: center;
	color: white;
	font-size: 1.1em;
	margin-top: 10px;
	margin-bottom: 30px;
}

#contact input
{
	margin-bottom: 30px;
}

#contact input[type="submit" i]
{
	background-color: white;
	color: #30826d;
	border:2px solid white;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.2em;
	margin-right: 20px;
}

#contact input:focus
{
	outline: none;
}
#recherche #traducteur
{
	width: 30%;
	min-height: 50%;
	position: absolute;
	top: 20%;
	left: 10%;
	display: inline-block;
	border:solid 2px #30826d;
	padding: 40px;
	text-align: justify;
	background-color: #30826d;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	font-size: 1.3em;
}

#recherche select
{
	display: inline-block;
}
#recherche h2{
	font-size: 1.2em;
}

#liste_mails_utils
{
	width: 200px;
}

#recherche #traduction	
{
	width: 30%;
	min-height: 50%;
	position: absolute;
	top: 20%;
	right: 10%;
	font-size: 1.3em;
	text-align: justify;
	display: inline-block;
	border:solid 2px #30826d;
	background-color: #30826d;
	padding: 40px;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
}
#traduction textarea{
	width: 85%;
	margin: 10px;
	padding: 5px;
}
#traduction #traduire textarea{
	height: 150px;
}
select{
	border-radius: 10px;
	width: 25%;
	text-align: center;
	font-weight: 0.9em;
	font-family: Verdana;
}

#menu
{
	text-align: center;
	width: 15%;
}

#menu  #profil
{
	width: 15%;
	min-height: 50%;
	position: absolute;
	top: 20%;
	left: 10%;
	display: inline-block;
	border:solid 2px #30826d;
	padding: 40px;
	text-align: center;
	background-color: #30826d;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	font-size: 1.3em;
	border-color: #00e2aa;
}
#menu #activity	
{
	width: 45%;
	min-height: 50%;
	position: absolute;
	top: 20%;
	right: 10%;
	font-size: 1.3em;
	text-align: center;
	display: inline-block;
	border:solid 2px #30826d;
	background-color: #30826d;
	padding: 40px;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	border-color: #00e2aa;
}


#activity nav a
{
	margin-right: 20px;
	margin-left: 20px;
}

#corps-admin
{
	overflow-x: hidden;
	overflow-y: hidden;
}


#menu #activity-2	
{
	width: 45%;
	min-height: 50%;
	position: absolute;
	top: 120%;
	right: 30%;
	left: 30%;
	margin-bottom: 200px;
	font-size: 1.3em;
	text-align: center;
	display: inline-block;
	border:solid 2px #30826d;
	background-color: #30826d;
	padding: 40px;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	border-color: #00e2aa;
}


#activity-2 nav a
{
	margin-right: 20px;
	margin-left: 20px;
}
#menu h1{
	font-size: 1.2em;
	text-align: center;
	position: relative;
	top: 0; 
	color:white;
}
#menu #profil_standard
{
	position: absolute;
	top:15%;
	margin: auto;
	right: 30%;
	left: 30%;
	width: 40%;
	display: inline-block;
	border:none;
	padding-bottom: 40px;
	text-align: justify;
	background-color: #30826d;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	font-size: 1.3em;
	text-align: center;
}




#menu #profil_standard h1
{
	background-color: #17b890;
	position: relative;
	top: 0;
	margin: auto;
}

#menu #profil_standard p:not([id="text_a_traduire" i])
{
	background-color: white;
	color:#17b890;
	border:2px solid white;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 19px;
	border-radius: 15px;
	width: 200px;
	text-align: center;
}

#text_a_traduire
{
	padding: 10px;
	text-align: center;
}

#profil a,#activity a,#activity-2 a
{
	text-align: center;
}




#menu a:not([id="lien_traduire" i]){
	color:#30826d;
	background-color: white;
	border:solid 2px white;
	border-radius: 15px;
	text-decoration: none;
	padding: 2px;
	padding-right: 6px;
	padding-left: 6px;
}

#menu #activity #demande_trad
{
	text-align: justify;
	margin: auto;
	padding: auto;
	margin-bottom: 5%;
	border-radius: 15px;
	overflow-y: scroll;
	height: 200px; 
}

#menu #activity #demande_trad p
{
	display: inline-block;
	margin: auto;
	text-align:center;
	margin-right: 60px;
	margin-left: 60px;
	width: 50px;
	height: 25px;
	overflow-x: hidden;
	color: #30826d;
	overflow-y: hidden;
	padding-right:40px; 
	padding-left:40px;
	background-color: #00e2aa;
	border-radius: 15px;
}


#menu #activity #demande_trad #tuple_trad
{
	text-align: center;
	width: 100%;
	margin-bottom: 5%;
	border-radius: 15px;
}

#menu #activity #demande_trad #tuple_trad:hover
{
	background-color: white;
}




#menu #activity-2 #demande_trad
{
	text-align: justify;
	margin: auto;
	padding: auto;
	margin-bottom: 5%;
	border-radius: 15px;
	overflow-y: scroll;
	height: 200px; 
}

#menu #activity-2 #demande_trad p
{
	display: inline-block;
	margin: auto;
	text-align:center;
	margin-right: 60px;
	margin-left: 60px;
	width: 50px;
	height: 25px;
	overflow-x: hidden;
	color: #30826d;
	overflow-y: hidden;
	padding-right:40px; 
	padding-left:40px;
	background-color: #00e2aa;
	border-radius: 15px;
}


#menu #activity-2 #demande_trad #tuple_trad
{
	text-align: center;
	width: 100%;
	margin-bottom: 5%;
	border-radius: 15px;
}

#menu #activity-2 #demande_trad #tuple_trad:hover
{
	background-color: white;
}
#demande #texte_demande
{
	width: 30%;
	min-height: 50%;
	position: absolute;
	top: 25%;
	left: 35%;
	display: inline-block;
	border:solid 2px #30826d;
	padding: 40px;
	text-align: center;
	background-color: #30826d;
	color: white;
	-webkit-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 42px -10px rgba(0,0,0,0.75);
	font-size: 1.3em;
}

#erreur
{
	position: absolute;
	top: 35%;
	text-align: center;
	background-color: #30826d;
	right: 30%;
	left: 30%;
}
